<ion-header>
 
  <ion-navbar color="secondary">
    <ion-title>Crear cuenta</ion-title>
  </ion-navbar>
 
</ion-header>
 
 
<ion-content padding>
  <ion-slides #signupSlider pager>
  <ion-slide>
      <p *ngIf="submitAttempt" style="color: #ea6153;">Please fill out all details accurately.</p>
  <form [formGroup]="registerValidate">
  <ion-row class="account-form">
    <ion-col>
      <ion-list inset>
 
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input [(ngModel)]="name"  name="name" formControlName="name" [class.invalid]="!registerValidate.controls.name.valid && (registerValidate.controls.name.dirty || submitAttempt)" placeholder="Nombre" type="text" required></ion-input>
        </ion-item>

        <ion-item *ngIf="!registerValidate.controls.name.valid  && (registerValidate.controls.name.dirty || submitAttempt)">
            <p>Please enter a valid name.</p>
        </ion-item>
 
        <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input [(ngModel)]="username"  name="username" formControlName="username" [class.invalid]="!registerValidate.controls.username.valid && (registerValidate.controls.username.dirty || submitAttempt)" placeholder="Usuario" type="text"required></ion-input>
        </ion-item>

        <ion-item *ngIf="!registerValidate.controls.username.valid  && (registerValidate.controls.username.dirty || submitAttempt)">
            <p>Please enter a valid username.</p>
        </ion-item>

         <ion-item>
          <ion-label><ion-icon name="person"></ion-icon></ion-label>
          <ion-input [(ngModel)]="finca" name="finca" formControlName="finca" [class.invalid]="!registerValidate.controls.finca.valid && (registerValidate.controls.finca.dirty || submitAttempt)" placeholder="Finca" type="text" required></ion-input>
        </ion-item>

        <ion-item *ngIf="!registerValidate.controls.finca.valid  && (registerValidate.controls.finca.dirty || submitAttempt)">
            <p>Please ingrese el nombre de la Finca.</p>
        </ion-item>

        <ion-item>
          <ion-label>Pais</ion-label>
          <ion-select [(ngModel)]="pais" formControlName="pais" [class.invalid]="!registerValidate.controls.pais.valid && (registerValidate.controls.pais.dirty || submitAttempt)" name="pais" multiple="false" required>
            <ion-option>Argentina</ion-option>
            <ion-option>Bolivia</ion-option>
            <ion-option>Brasil</ion-option>
            <ion-option>Chile</ion-option>
            <ion-option>Colombia</ion-option>
            <ion-option>Costa Rica</ion-option>
            <ion-option>Ecuador</ion-option>
            <ion-option>El Salvador</ion-option>
            <ion-option>Guatemala</ion-option>
            <ion-option>Honduras</ion-option>
            <ion-option>Mexico</ion-option>
            <ion-option>Nicaragua</ion-option>
            <ion-option>Panama</ion-option>
            <ion-option>Paraguay</ion-option>
            <ion-option>Perú</ion-option>
            <ion-option>Uruguay</ion-option>
            <ion-option>Venezuela</ion-option>
          </ion-select>
        </ion-item>
        <ion-item *ngIf="!registerValidate.controls.pais.valid  && (registerValidate.controls.pais.dirty || submitAttempt)">
            <p>Seleccione un pais.</p>
        </ion-item>
         
        <ion-item>
          <ion-label><ion-icon name="mail"></ion-icon></ion-label>
          <ion-input [(ngModel)]="email"  name="email" formControlName="email" [class.invalid]="!registerValidate.controls.email.valid && (registerValidate.controls.email.dirty || submitAttempt)" placeholder="Email" type="email" required></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerValidate.controls.email.valid  && (registerValidate.controls.email.dirty || submitAttempt)">
            <p>Ingrese un email valido.</p>
        </ion-item>
 
        <ion-item>
          <ion-label><ion-icon name="lock"></ion-icon></ion-label>
          <ion-input [(ngModel)]="password"  name="password" formControlName="password" [class.invalid]="!registerValidate.controls.password.valid && (registerValidate.controls.password.dirty || submitAttempt)" placeholder="Contraseña" type="password" required></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerValidate.controls.password.valid  && (registerValidate.controls.password.dirty || submitAttempt)">
            <p>Ingrese una constraseña de al menos 6 caracteres.</p>
        </ion-item>
 
        <ion-item>
          <ion-label><ion-icon name="lock"></ion-icon></ion-label> 
          <ion-input [(ngModel)]="confirmPassword"  name="confirmPassword" formControlName="confirmPassword" [class.invalid]="!registerValidate.controls.confirmPassword.valid && (registerValidate.controls.confirmPassword.dirty || submitAttempt)" placeholder="Confirmar contraseña" type="password" required></ion-input>
        </ion-item>
        <ion-item *ngIf="!registerValidate.controls.confirmPassword.valid  && (registerValidate.controls.confirmPassword.dirty || submitAttempt)">
            <p>La constraseña no coincide.</p>
        </ion-item>
 
      </ion-list>
 
      <button ion-button (click)="register()" class="continue-button">Registrar</button>
 
    </ion-col>
  </ion-row>
</form>
</ion-slide>
 
</ion-slides>