page-signup {

      .scroll-content {
         background: url('../assets/imgs/portada.jpg') no-repeat center;
         display: flex;
         flex-direction: column;
      }
 
      ion-item {
          border-radius: 30px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;
          position: initial;
      }
 
      ion-list {
          margin: 10;
      }
 
      .heading-text {
        flex: 1;
        align-items: center;
        text-align: center;
      }
 
      .heading-text h3 {
        color: white;
      }
 
 
      .account-form {
          flex: 1;
      }
 
      .continue-button {
          width: 100%;
          border-radius:50px;
          margin-top: 30px;
          font-size: 0.9em;
          background-color: transparent;
          border: 1px solid #fff;
      }
         p {
            font-size: 0.8em;
            color: #ea6153;
        }
 
        .swiper-slide {
            display: block;
        }
 
        ion-input, ion-select, ion-textarea {
            background-color: #fff;
            padding: 0,5px 1px;
        }

        .ionItem {
          color: #ea6153;
        }
        ion-spinner * {
            width: 28px;
            height: 28px;
            stroke: #444;
            fill: #222;
        }
      
 
  }
 



